{% extends 'base.html.twig' %}

{% block title %}Page Accueil!{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/home.css') }}" type="text/css" />
{% endblock %}

{% block body %}
            <div class="cardBox">
                <a href="{{ path('critique_filtreProduit', {id: produit.id}) }}">
                    <div class="card">
                        <div>
                            <div class="numbers"> {{produit.note}} </div>
                            <div class="cardName"> {{produit.nom}} est le moins populaire </div>
                        </div>
                        <div class="iconBox">
                            <ion-icon name="star-half-outline"></ion-icon>
                        </div>
                    </div>
                </a>

                <div class="card">
                    <div>
                        <a href="{{ path('commande_index') }}">
                            <div class="numbers"> 32 </div>
                            <div class="cardName"> couscous a le plus de critique </div>
                        </a>
                    </div>
                    <div class="iconBox">
                        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <a href="{{ path('commande_index') }}">
                            <div class="numbers"> {{marge}} </div>
                            <div class="cardName"> marge brute prévue pour aujourd'hui </div>
                        </a>
                    </div>
                    <div class="iconBox">
                        <ion-icon name="logo-euro"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <a href="{{ path('user_index') }}">
                            <div class="numbers"> {{user}} </div>
                            <div class="cardName"> nombre total inscrits </div>
                        </a>
                    </div>
                    <div class="iconBox">
                        <ion-icon name="person-outline"></ion-icon>
                    </div>
                </div>
            </div>


            <!-- detail liste -->

            <div class="details">

                <div class="recentOrders">

                    <div class="cardHeader">
                        <h2>Commandes recentes</h2>
                        <a href="{{ path('commande_index') }}" class="btn">plus</a>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <td>Nom</td>
                                <td>total</td>
                                <td>date</td>
                                <td>Status</td>
                            </tr>
                        </thead>
                        <tbody>
                        {% for commande in commandes %}

                        {% set sommeCommandes = 0  %}
                        {% set sommeCommandesPrix = 0  %}
                            {% for selection in commande.selections %}
                                {% set sommeCommandesPrix = sommeCommandesPrix + (selection.prix * selection.quantite) %}
                        {% endfor %}
                            <tr>
                                <td>{{commande.utilisateur.pseudo}}</td>
                                <td> {{ sommeCommandesPrix }} €</td>
                                <td> {{commande.date | date("d/m/Y") }}</td>
                                <td><span class="{{commande.utilisateur.roles[0]}}"> </span></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>


                </div>
                <div class="recetteJour">
                    <div class="cardHeader">
                        <h2>plat du jour {{today}}</h2>
                        <a href="{{ path('produit_semaine') }}" class="btn">modifier</a>
                    </div>
                    <table>

                        <thead>
                            <tr>
                                <td>photo</td>
                                <td>nom du plat</td>
                                <td>prix</td>
                            </tr>
                        </thead>
                        {% for menu in menus %}
                        <tr>
                            <td><div class="imgBox"><img class="imgPlat" src="{{menu.image}}" alt="{{menu.altImage}}"></div></td>
                            <td> {{menu.nom}} </td>
                            <td>{{menu.prixAchat}} €</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>

            </div>        
        </div>
{% endblock %}
