{% extends 'base.html.twig' %}

{% block title %}Page Accueil!{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/home.css') }}" type="text/css" />
{% endblock %}

{% block body %}
            <div class="cardBox">
                <a href="{{ path('critique_filtreProduit', {id: produit.id}) }}">
                    <div class="card">
                        <div>
                            <div class="numbers"> {{produit.note|round(1, 'floor')}} / 5 </div>
                            <div class="cardName"> {{produit.nom}} moins populaire </div>
                        </div>
                        <div class="iconBox">
                            <ion-icon name="star-half-outline"></ion-icon>
                        </div>
                    </div>
                </a>

                <div class="card">
                    <div>
                        <a href="{{ path('critique_filtreProduit', {id: maxCritique.id}) }}">
                            <div class="numbers"> {{maxCritique.maxCom}} coms</div>
                            <div class="cardName"> {{maxCritique.nom}} plus commenté note moy: {{maxCritique.note|round(1, 'floor')}} </div>
                        </a>
                    </div>
                    <div class="iconBox">
                        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <a href="{{ path('commande_index') }}">
                        {% if marge != null %}
                            <div class="numbers"> {{marge}} </div>
                        {% else %}
                            <div class="numbers"> 0 </div>
                        {% endif %}
                                
                            <div class="cardName"> marge brute aujourd'hui, ce mois-ci : {{margeMois}}</div>
                        </a>
                    </div>
                    <div class="iconBox">
                        <ion-icon name="logo-euro"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <a href="{{ path('user_index') }}">
                            <div class="numbers"> {{user}} </div>
                            <div class="cardName"> nombre total inscrits dont {{userPersonnel}} personnel </div>
                        </a>
                    </div>
                    <div class="iconBox">
                        <ion-icon name="person-outline"></ion-icon>
                    </div>
                </div>
            </div>


            <!-- detail liste -->

            <div class="details">

                <div class="recentOrders">

                    <div class="cardHeader">
                        <h2>Commandes recentes</h2>
                        <a href="{{ path('commande_index') }}" class="btn">plus</a>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <td>Nom</td>
                                <td>Total</td>
                                <td>date</td>
                                <td>Status</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for commande in commandes %}

                                {% set sommeCommandes = 0  %}
                                {% set sommeCommandesPrix = 0  %}
                                {% for selection in commande.selections %}
                                    {% set sommeCommandesPrix = sommeCommandesPrix + (selection.prix * selection.quantite) %}
                                {% endfor %}
                                <tr>
                                    <td>
                                        <a href="{{ path('commande_filtreUser', {id: commande.utilisateur.id}) }}" id="a"> 
                                            {{commande.utilisateur.pseudo}}  <ion-icon name="add-circle-outline" class="voirPlus">
                                        </a>
                                    </td>
                                    <td class="{{ (sommeCommandesPrix < faibleMontant) ? 'faibleMontant' : 'fortMontant' }}">
                                        {{ sommeCommandesPrix }} €
                                    </td>
                                    <td> {{commande.date | date("d/m/Y") }}</td>
                                    <td><span class="{{commande.utilisateur.roles[0]}}"> </span></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>


                </div>
                <div class="recetteJour">
                    <div class="cardHeader">
                        <h2>plat du jour {{today}}</h2>
                        <a href="{{ path('produit_semaine') }}" class="btn">modifier</a>
                    </div>
                    <table>

                        <thead>
                            <tr>
                                <td>photo</td>
                                <td>type</td>
                                <td>nom du plat</td>
                                <td>prix</td>
                            </tr>
                        </thead>
                        {% for menu in menus %}
                            <tr>
                                <td><div class="imgBox"><img class="imgPlat" src="{{menu.image}}" alt="{{menu.altImage}}"></div></td>
                                <td>  
                                    <span class="pastille {{ menu.category.nom }}"></span>
                                </td>
                                <td> {{menu.nom}} </td>
                                <td>{{menu.prixAchat}} €</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

            </div>        
        </div>
{% endblock %}
