{% extends 'base_form.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}

    <h1>S'enregistrer</h1>

    {{ form_start(registrationForm) }}

        {{ form_row(registrationForm.email, {
            label: 'Votre email:',
            'attr': {'class': 'champs'}
            }) }}



        {{ form_row(registrationForm.plainPassword, {
            label: 'mot de passe:',
            'attr': {'class':'champs'}
        }) }}
        {{ form_row(registrationForm.agreeTerms, {
            label:'accepter les conditions'
        }) }}

        <button type="submit"  class="btn">S'enregistrer </button>
    {{ form_end(registrationForm) }}
{% endblock %}
