{% extends 'base.html.twig' %}

{% block title %}Recherche d'un article{% endblock %}
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/tableau.css') }}" type="text/css" />
        {% endblock %}

{% block body %}

        <h1>{{ titre }}</h1>
        <h2><a class="usebtn ajout" href="{{ path('feature_add') }}">Ajouter un Article </a></h2>
        <h2><a class="usebtn retour" href="{{ path('feature_index') }}">retour Liste</a></h2>

                {{ form_start(rechercheForm) }}
                        {{ form_row(rechercheForm.mots, {
                                'attr': {'class': 'recherche', 'placeholder': 'titre ou contenu'}
                                }) }}
                {{ form_end(rechercheForm) }}

                <h3>Nombre de résultat de la recherche: {{ features | length }}</h3>


<table>
        <thead>
                <tr>
                        <td>titre</td>
                        <td>image</td>
                        <td>libellé buton</td>
                        <td>date création</td>
                        <td></td>
                </tr>
        </thead>
        <tbody>
        {% for feature in features  %}
                <tr>
                        <td>{{feature.title}}</td>
                        <td>
                                <div><img src="{{feature.image}}" alt="{{ feature.altImage }}" class="img" ></div>
                        </td>
                        <td>{{feature.buton}}</td>
                        <td> {{feature.createAt | date("d/m/Y") }}</td>
                        <td> 
                                <a href="{{ path('feature_apercu', {id: feature.id}) }}" class="btn b3"><ion-icon name="eye-outline"></ion-icon></a>                       
                                <a href="{{ path('feature_update', {id: feature.id}) }}" class="btn b1"><ion-icon name="create-outline"></ion-icon></a>
                                <a href="{{ path('feature_delete', {id: feature.id}) }}" class="btn b2"  onclick="return confirm('Suppression ? ')"><ion-icon name="trash-outline"></ion-icon></a>
                        </td>
                </tr>
        {% endfor %}


        </tbody>
</table>

{% endblock %}