{% extends 'base.html.twig' %}

{% block title %}Enregistrer{% endblock %}
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/article.css') }}" type="text/css" />
{% endblock %}

{% block body %}
<div class="container">
    <div class="principale">
    <h1>Enregistrer un produit</h1>

    {{ form_start(form) }}

        {{ form_row(form.nom, {
            label: 'le nom:',
            'label_attr': {'class': 'label'},
            'attr': {'class': 'champs'}
            }) }}
        {{ form_row(form.description, {
            label: 'Description du produit:',
            'label_attr': {'class': 'label'},
            'attr': {'class': 'champs paragraphe'}
            }) }}
        {{ form_row(form.category, {
            label: 'La category:',
            'label_attr': {'class': 'label'},
            'attr': {'class': 'champs'}
            }) }}
        {{ form_row(form.prixAchat, {
            label: 'Prix de vente €:',
            'label_attr': {'class': 'label'},
            'attr': {'class': 'champs'},
            }) }}
        {{ form_row(form.prixVente, {
            label: 'Le prix d\'achat €:',
            'label_attr': {'class': 'label'},
            'attr': {'class': 'champs'},
            }) }}

        {{ form_row(form.image, {
            label: 'L\'URL de d\'image:',
            'label_attr': {'class': 'label'},
            'attr': {'class': 'champs'}
            }) }}
        {{ form_row(form.altImage, {
            label: 'La description de l\'image:',
            'label_attr': {'class': 'label'},
            'attr': {'class': 'champs'}
            }) }}
        {{ form_row(form.selectionner, {
            label: 'selectionner pour cette semaine',
            'label_attr': {'class': 'label_chekckbox'},
            'attr': {'class': 'valitation'}
        }) }}
        {{ form_row(form.jourPrevu, {
            label: 'Le jour de service:',
            'label_attr': {'class': 'label'},
            'attr': {'class': 'champs'}
            }) }}

    {{ form_end(form) }}
        <button type="submit"  class="btn b2"><a href="{{ path('produit_index') }}">retour liste des produits</a> </button>
    </div>
    </div>
{% endblock %}