{% extends 'base.html.twig' %}

{% block title %}Liste des Produits{% endblock %}
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/tableau.css') }}" type="text/css" />
        {% endblock %}

{% block body %}
        <h1>{{ titre }}</h1>
        <h2><a class="usebtn ajout" href="{{ path('produit_add') }}">Ajouter un produits </a></h2>
        <h2><a class="usebtn" href="{{ path('produit_recherche') }}">rechercher <ion-icon name="search"></ion-icon> </a></h2>
        <h2><a class="usebtn retour" href="{{ path('produit_index') }}">retour Liste des articles</a></h2>
        {% for category in categories  %}
                <h2><a class="usebtn ajout {{ (categorieFiltrer == category) ? 'active' : '' }} " href="{{ path('produit_filtre', {id: category.id}) }}">{{category.nom}} </a></h2>
        {% endfor %}



        <h3>{{total}} produits</h3>
<table>
        <thead>
                <tr>
                        <td>nom</td>
                        <td>catégorie</td>
                        <td>image</td>
                        <td>prix</td>
                        <td>marge brute</td>
                        <td>date d'ajout</td>
                        <td>semaine</td>
                        <td></td>
                </tr>
        </thead>
        <tbody>
        {% for produit in produits  %}
                <tr>
                        <td>{{produit.nom}}</td>
                        <td>
                                <span class="{{ produit.category.nom }}"> {{ produit.category.nom }}</span></td>
                        <td>
                                <div><img src="{{ produit.image }}" alt="{{ produit.altImage }}" class="img" ></div>
                        </td>
                        <td>{{ produit.prix }} €</td>
                        <td>{{ produit.benefice }} €</td>
                        <td> {{ produit.createAt | date("d/m/Y") }}</td>
                        <td> {{ produit.selectionner }}</td>
                        <td> 
                                <a href="{{ path('produit_update', {id: produit.id}) }}" class="btn b1"><ion-icon name="create-outline"></ion-icon></a>
                                <a href="{{ path('produit_delete', {id: produit.id}) }}" class="btn b2"  onclick="return confirm('Suppression ? ')"><ion-icon name="trash-outline"></ion-icon></a>
                                <a href="{{ path('produit_apercu', {id: produit.id}) }}" class="btn b3">+</a>
                        </td> 
                </tr>
        {% endfor %}


        </tbody>
</table>

<ul class="pagination">

{# fleche pour revenir page 1 #}
        <li class=" {{ (page == 1) ? 'disable' : '' }} ">
                <a href="?page=1" id="a">
                        <ion-icon name="play-back-outline"></ion-icon>
                </a>
        </li>
{# fleche pour revenir en arriere #}
        <li class=" {{ (page == 1) ? 'disable' : '' }} ">
                <a href="{{ (page > 1) ? '?page=' ~ (page -1) : '' }}" id="a">
                        <ion-icon name="arrow-back-outline"></ion-icon>
                </a>
        </li>

        {% set pages = (total / limit)|round(0,'ceil') %}
{# calcul total / limit user par page que l'on arrondi au superieur avec ceil on enferme variable pages grâce set #}
        {% for item in 1..pages %}
                <li class=" {{ (page == item) ? 'active' : '' }} ">
                        <a href="?page={{ item }}" id="a"> {{ item }} </a>
                </li>
        {% endfor %}

{# fleche pour aller vers suivant #}
        <li class=" {{ (page == pages) ? 'disable' : '' }} ">
                <a href="{{ (page < pages) ? '?page=' ~ (page +1) : '' }}" id="a">
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                </a>
        </li>

{# fleche pour derniere page  #}
        <li class=" {{ (page == pages) ? 'disable' : '' }} ">
                <a href="?page= {{ pages }}" id="a">
                        <ion-icon name="play-forward-outline"></ion-icon>
                </a>
        </li>

</ul>

{% endblock %}
