{% extends 'base.html.twig' %}

{% block title %}Liste des Produits{% endblock %}
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/tableau.css') }}" type="text/css" />
        {% endblock %}

{% block body %}
        <h1>{{ titre }}</h1>

        <h2><a class="usebtn ajout" href="{{ path('produit_add') }}">Ajouter un produits </a></h2>
        <h2><a class="usebtn ajout" href="{{ path('produit_semaine') }}">Produits de la semaine </a></h2>
        <h2><a class="usebtn" href="{{ path('produit_recherche') }}">rechercher <ion-icon name="search"></ion-icon> </a></h2>
        {% if  app.Request.pathInfo != "/produit/" %}
                <h2><a class="usebtn retour" href="{{ path('produit_index') }}">retour à la Liste</a></h2>
        {% endif %}
        

        <p>
                {% for category in categories  %}
                        {% if category is defined and category is not null and categorieFiltrer is defined %}
                                        <span><a class="butonCategorie {{ (categorieFiltrer == category) ? category.nom : '' }}" href="{{ path('produit_filtre', {id: category.id}) }}">{{category.nom}} </a></span>
                        {% else %}
                                <span><a class="butonCategorie {{category.nom}} " href="{{ path('produit_filtre', {id: category.id}) }}">{{category.nom}} </a></span>
                        {% endif %}
                {% endfor %}
        </p>



        <h3>{{total}} produits</h3>
        <table>
                <thead>
                        <tr>
                                <td>image</td>
                                <td></td>
                                <td>nom</td>
                                <td>nb Avis</td>
                                <td>note moy</td>
                                <td>prix</td>
                                <td>marge</td>
                                <td>semaine</td>
                                <td></td>
                        </tr>
                </thead>
                <tbody>

                {% for produit in produits  %}
{# on initialise variable pour note moyenne dans la boucle pour éviter que tout les champs  ont la même note #}
                        {% set sommeAvis = 0  %}
                        {% set moyenne = 0  %}
                        {% if produit.critiques | length > 0  %}
{# on test si il y a des avis pour faire le calcul car impossible divisé par 0 #}
                                {% for critique in produit.critiques %}
                                        {% set sommeAvis = sommeAvis + critique.note %}
                                        {% set moyenne = sommeAvis / (produit.critiques | length)  %}
                                {% endfor %}
                        {% endif %}
                        <tr>
                                <td>
                                        <div><img src="{{ produit.image }}" alt="{{ produit.altImage }}" class="img" ></div>
                                </td>
                                <td> <span class=" pastille {{ produit.category.nom }}"></span> </td>
                                <td> {{ produit.nom }}</td>
                                <td>{{produit.critiques | length}}</td>
                                <td>
                        {% if produit.critiques | length > 0  %}
{# on test si il y à des avis sinon on affiche rien, on laisse td vide BO #}
                                <span class=" {{ (moyenne > bonneNote) ? 'bonneNote' : (moyenne > moyenneNote ) ? 'moyenneNote' : 'mauvaiseNote' }} " > {{ moyenne|round(1) }} </span>
                        {% endif %}
                                </td>
                                <td>{{ produit.prixAchat }} €</td>
{# calcul pourcentage de la différence: PRIX ACHAT est le prix que l'utilisateur achète, PRIX VENTE est le prix que la cantine paie pour faire le produit#}
                                <td>{{ (((produit.prixAchat - produit.prixVente) / produit.prixAchat ) * 100)|round }} %</td>
                                <td>
                                <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" name="active" id="customSwitch{{ produit.id }}" data-id="{{ produit.id }}" {{ produit.selectionner ? 'checked' : null}}></td>
                                </div>
                                <td> 
                                        <a href="{{ path('produit_update', {id: produit.id}) }}" class="btn b1"><ion-icon name="create-outline"></ion-icon></a>
                                        <a href="{{ path('produit_delete', {id: produit.id}) }}" class="btn b2"  onclick="return confirm('Suppression ? ')"><ion-icon name="trash-outline"></ion-icon></a>
                                        <a href="{{ path('produit_apercu', {id: produit.id}) }}" class="btn b3">+</a>
                                </td> 
                        </tr>
                {% endfor %}
                </tbody>
        </table>

{% endblock %}
