{% extends 'base.html.twig' %}

{% block title %}Liste des Produits{% endblock %}
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/tableau.css') }}" type="text/css" />
        {% endblock %}

{% block body %}
        <h1>{{ titre }}</h1>

        <h2><a class="usebtn ajout" href="{{ path('produit_add') }}">Ajouter un produits </a></h2>
        <h2><a class="usebtn ajout" href="{{ path('produit_semaine') }}">Produits de la semaine </a></h2>
        <h2><a class="usebtn" href="{{ path('produit_recherche') }}">rechercher <ion-icon name="search"></ion-icon> </a></h2>
        {% if  app.Request.pathInfo != "/produit/" %}
                <h2><a class="usebtn retour" href="{{ path('produit_index') }}">retour à la Liste</a></h2>
        {% endif %}
        

        <p>
                {% for category in categories  %}
                        {% if category is defined and category is not null and categorieFiltrer is defined %}
                                        <span><a class="butonCategorie {{ (categorieFiltrer == category) ? category.nom : '' }}" href="{{ path('produit_filtre', {id: category.id}) }}">{{category.nom}} </a></span>
                        {% else %}
                                <span><a class="butonCategorie {{category.nom}} " href="{{ path('produit_filtre', {id: category.id}) }}">{{category.nom}} </a></span>
                        {% endif %}
                {% endfor %}
        </p>



        <h3>{{total}} produits</h3>
<table>
        <thead>
                <tr>
                        <td>image</td>
                        <td></td>
                        <td>nom</td>
                        <td>nb Avis</td>
                        <td>note moyenne</td>
                        <td>prix Vente €</td>
                        <td>marge brute %</td>
                        <td>semaine</td>
                        <td></td>
                </tr>
        </thead>
        <tbody>


        {% for produit in produits  %}
                {% set sommeAvis = 0  %}
                {% set moyenne = 0  %}
                {% if produit.critiques | length > 0  %}
                        {% for critique in produit.critiques %}
                                {% set sommeAvis = sommeAvis + critique.note %}
                                {% set moyenne = sommeAvis / (produit.critiques | length)  %}
                        {% endfor %}
                {% endif %}
                <tr>
                        <td>
                                <div><img src="{{ produit.image }}" alt="{{ produit.altImage }}" class="img" ></div>
                        </td>
                        <td> <span class=" pastille {{ produit.category.nom }}"></span> </td>
                        <td> {{ produit.nom }}</td>
                        <td>{{produit.critiques | length}}</td>
                        <td>
                {% if produit.critiques | length > 0  %}
                        <span class=" {{ (moyenne > 3.7) ? 'bonNote' : (moyenne > 2.5) ? 'moyenneNote' : 'mauvaiseNote' }} " > {{ moyenne|round(1) }} </span>
                {% endif %}
                        </td>
                        <td>{{ produit.prixAchat }} </td>
                        <td>{{ (((produit.prixAchat - produit.prixVente) / produit.prixAchat ) * 100)|round }} </td>
                        <td>
                        <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="active" id="customSwitch{{ produit.id }}" data-id="{{ produit.id }}" {{ produit.selectionner ? 'checked' : null}}></td>
                        </div>
                        <td> 
                                <a href="{{ path('produit_update', {id: produit.id}) }}" class="btn b1"><ion-icon name="create-outline"></ion-icon></a>
                                <a href="{{ path('produit_delete', {id: produit.id}) }}" class="btn b2"  onclick="return confirm('Suppression ? ')"><ion-icon name="trash-outline"></ion-icon></a>
                                <a href="{{ path('produit_apercu', {id: produit.id}) }}" class="btn b3">+</a>
                        </td> 
                </tr>
        {% endfor %}
        </tbody>
</table>

<ul class="pagination">

{# fleche pour revenir page 1 #}
        <li class=" {{ (page == 1) ? 'disable' : '' }} ">
                <a href="?page=1" id="a">
                        <ion-icon name="play-back-outline"></ion-icon>
                </a>
        </li>
{# fleche pour revenir en arriere #}
        <li class=" {{ (page == 1) ? 'disable' : '' }} ">
                <a href="{{ (page > 1) ? '?page=' ~ (page -1) : '' }}" id="a">
                        <ion-icon name="arrow-back-outline"></ion-icon>
                </a>
        </li>

        {% set pages = (total / limit)|round(0,'ceil') %}
{# calcul total / limit user par page que l'on arrondi au superieur avec ceil on enferme variable pages grâce set #}
        {% for item in 1..pages %}
                <li class=" {{ (page == item) ? 'active' : '' }} ">
                        <a href="?page={{ item }}" id="a"> {{ item }} </a>
                </li>
        {% endfor %}

{# fleche pour aller vers suivant #}
        <li class=" {{ (page == pages) ? 'disable' : '' }} ">
                <a href="{{ (page < pages) ? '?page=' ~ (page +1) : '' }}" id="a">
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                </a>
        </li>

{# fleche pour derniere page  #}
        <li class=" {{ (page == pages) ? 'disable' : '' }} ">
                <a href="?page= {{ pages }}" id="a">
                        <ion-icon name="play-forward-outline"></ion-icon>
                </a>
        </li>

</ul>

{% endblock %}
