{% extends 'base.html.twig' %}

{% block title %}Liste des critiques de {% endblock %}
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/detail.css') }}" type="text/css" />
        {% endblock %}

{% block body %}

        <h1>{{titre}} </h1>
        <h1> N°AFPA: {{Nafpa}} </h1>

        <h2><a class="usebtn retour" href="{{ app.request.headers.get('referer')}}">retour</a></h2>
        <h2><a class="usebtn ajout" href="{{ path('critique_index') }}">aller aux avis</a></h2>
        <h2><a class="usebtn ajout" href="{{ path('produit_index') }}">aller aux produits</a></h2>
        <h2><a class="usebtn ajout" href="{{ path('user_index') }}">aller aux utilisateurs</a></h2>

        <h3>{{total}} Avis</h3><table>
        <thead>
                <tr>
                        <td>categorie</td>
                        <td>image</td>
                        <td>Produit</td>
                        <td>note /5</td>
                        <td>date</td>
                        <td></td>
                </tr>
        </thead>
        {% for critique in critiques  %}
        <tbody>
                <tr>
                        <td> 
                                <span class=" avisCategorie {{ critique.produit.category.nom }} paddingLeft10">
                                        <a href="{{ path('produit_filtre', {id: critique.produit.category.id}) }}" class="white " >                                 
                                                {{ critique.produit.category.nom }}
                                        </a>
                                </span>
                        </td>
                        <td><div><img src="{{critique.produit.image}}" alt="{{ critique.produit.altImage }}" class="img" ></div></td>
                        <td> 
                                <a href="{{ path('critique_filtreProduit', {id: critique.produit.id}) }}" id="a"> 
                                {{ critique.produit.nom }}  <ion-icon name="add-circle-outline" class="voirPlus">
                                </a>
                        </td>
                        <td>
                                <span class=" {{ (critique.note > bonneNote) ? 'bonneNote' : (critique.note > moyenneNote) ? 'moyenneNote' : 'mauvaiseNote' }} ">
                                        {{ critique.note }}
                                </span>
                        </td>
                        <td>  {{ critique.createAt | date("h:i d/m/Y") }}   </td>
                        <td> 
                                <a href="{{ path('critique_delete', {id: critique.id}) }}" class="btn b2"  onclick="return confirm('Suppression ? ')"><ion-icon name="trash-outline"></ion-icon></a>
                        </td>
                </tr>
                {% if critique.contenu is empty %}
                        <tr class="last2">
                        </tr>
                {% else %}                
                        <tr class="last">
                                <td> critique: </td>
                                <td colspan="5">
                                        {{ critique.contenu | raw | u.truncate(maxlength2)}}
                                        {% if critique.contenu | length > maxlength2 %}
                                        ...
                                        <a href="{{ path('critique_detail', {id: critique.id}) }}" class="btn b3 more" >
                                                        voir plus
                                        </a>
                                        {% endif %}                                
                                </td>
                        </tr>
                {% endif %}
        </tbody>
        {% endfor %}
</table>

{% endblock %}