{% extends 'base.html.twig' %}

{% block title %}Liste des critiques de {% endblock %}
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/detail.css') }}" type="text/css" />
        {% endblock %}

{% block body %}

        <h1>{{titre}} </h1>

        <h3>{{total}} Avis</h3><table>
        <thead>
                <tr>
                        <td>categorie</td>
                        <td>image</td>
                        <td>Produit</td>
                        <td>note /5</td>
                        <td>date</td>
                        <td></td>
                </tr>
        </thead>
        {% for critique in critiques  %}
        <tbody>
                <tr>
                        <td> 
                                <span class=" avisCategorie {{ critique.produit.category.nom }}">
                                        {{ critique.produit.category.nom }}
                                </span>
                        </td>
                        <td><div><img src="{{critique.produit.image}}" alt="{{ critique.produit.image }}" class="img" ></div></td>
                        <td> 
                                <a href="{{ path('critique_filtreProduit', {id: critique.produit.id}) }}" id="a"> 
                                {{ critique.produit.nom }}
                                </a>
                        </td>
                        <td>
                                <span class=" {{ (critique.note > bonneNote) ? 'bonneNote' : (critique.note > moyenneNote) ? 'moyenneNote' : 'mauvaiseNote' }} ">
                                        {{ critique.note }}
                                </span>
                        </td>
                        <td>  {{ critique.createAt | date }}   </td>
                        <td> 
                                <a href="{{ path('critique_delete', {id: critique.id}) }}" class="btn b2"  onclick="return confirm('Suppression ? ')"><ion-icon name="trash-outline"></ion-icon></a>
                        </td>
                </tr>
                <tr class="last">
                        <td> critique: </td>
                        <td colspan="5">{{ critique.contenu }}</td>
                </tr>

        </tbody>
        {% endfor %}
</table>

{% endblock %}