{% extends 'base.html.twig' %}

{% block title %}Aperçu de l'Articles{% endblock %}
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/tableau.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/apercu.css') }}" type="text/css" />
        {% endblock %}

{% block body %}
        <h1>{{ title }}</h1>
        <h2><a class="usebtn retour" href="{{ app.request.headers.get('referer')}}">retour</a></h2>

        <div class="apercu">
                <h3>{{critique.utilisateur.pseudo}}   </h3>
                <h3>{{ critique.produit.nom }} </h3>
                <p>{{critique.contenu | raw }}</p>
                <div><img src="{{critique.produit.image}}" alt="{{ critique.produit.altImage }}" class="img" ></div>
                <div class="buton">     
                        <span> {{critique.createAt | date("d/m/Y") }}</span>
                </div>
                
        </div>



{% endblock %}