{% extends 'base.html.twig' %}

{% block title %}Liste des critiques{% endblock %}
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/detail.css') }}" type="text/css" />
        {% endblock %}

{% block body %}
        <h1>{{titre}}</h1>

        <p>
                {% for category in categories  %}
                        {% if category is defined and category is not null and categorieFiltrer is defined %}
                                        <span><a class="butonCategorie {{ (categorieFiltrer == category) ? category.nom : '' }}" href="{{ path('produit_filtre', {id: category.id}) }}">{{category.nom}} </a></span>
                        {% else %}
                                <span><a class="butonCategorie {{category.nom}} " href="{{ path('critique_filtreCategory', {id: category.id}) }} ">{{category.nom}} </a></span>
                        {% endif %}
                {% endfor %}
        </p>        

        <h3>{{total}} Avis</h3><table>
        <thead>
                <tr>
                        <td>auteur</td>
                        <td>categorie</td>
                        <td>Produit</td>
                        <td>note /5</td>
                        <td>date</td>
                </tr>
        </thead>
        <tbody>
        {% for critique in critiques  %}
        
                <tr>
                        <td> 
                                <a href="{{ path('critique_filtreUser', {id: critique.utilisateur.id}) }}" id="a" class="paddingLeft10" > 
                                        {{ critique.utilisateur.pseudo }}(+)
                                </a>   
                        </td>
                        <td> 
                                <span class=" avisCategorie {{ critique.produit.category.nom }}">
                                        {{ critique.produit.category.nom }}
                                </span>
                        </td>
                        <td> 
                                <a href="{{ path('critique_filtreProduit', {id: critique.produit.id}) }}" id="a"> 
                                {{ critique.produit.nom }} (+)
                                </a>
                        </td>
                        <td>
                                <span class=" {{ (critique.note > bonneNote) ? 'bonneNote' : (critique.note > moyenneNote) ? 'moyenneNote' : 'mauvaiseNote' }} ">
                                        {{ critique.note }}
                                </span>
                        </td>
                        <td>  {{ critique.createAt | date("h:i d/m/Y") }}   </td>
                        <td> 
                                <a href="{{ path('critique_delete', {id: critique.id}) }}" class="btn b2"  onclick="return confirm('Suppression ? ')"><ion-icon name="trash-outline"></ion-icon></a>
                        </td>
                <tr class="last">
                        <td> critique:</td>
                        <td colspan="5">      

                                {{ critique.contenu| raw | u.truncate(maxlength)}}

                                {% if critique.contenu | length > maxlength %}
                                ...
                                <a href="{{ path('critique_apercu', {id: critique.id}) }}" class="btn b3 more">
                                                voir plus
                                </a>
                                {% endif %}
                        </td>
                </tr>
                </tr>
        {% endfor %}
        </tbody>
</table>

{% endblock %}
