{% extends 'base.html.twig' %}

{% block title %}Liste des critiques{% endblock %}
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/tableau.css') }}" type="text/css" />
        {% endblock %}

{% block body %}
        <h1>{{titre}}</h1>

        <h3>{{total}} Avis</h3><table>
        <thead>
                <tr>
                        <td>auteur</td>
                        <td>categorie</td>
                        <td>Produit</td>
                        <td>note /5</td>
                        <td>contenu</td>
                </tr>
        </thead>
        <tbody>
        {% for critique in critiques  %}
                <tr>
                        <td> {{ critique.utilisateur.pseudo }}  </td>
                        <td> <span class=" test {{ critique.produit.category.nom }}">
                        {{ critique.produit.category.nom }}
                        </span>
                        </td>
                        <td> {{ critique.produit.nom }}  </td>
                        <td>
                                <span class=" {{ (critique.note > 3.7) ? 'bonNote' : (critique.note > 2.5) ? 'moyenneNote' : 'mauvaiseNote' }} ">{{ critique.note }} </span>
                        </td>
                        <td> {{ critique.contenu }}</td>
                        <td> 
                                <a href="{{ path('critique_delete', {id: critique.id}) }}" class="btn b2"  onclick="return confirm('Suppression ? ')"><ion-icon name="trash-outline"></ion-icon></a>
                        </td>
                </tr>
        {% endfor %}
        </tbody>
</table>

<ul class="pagination">

{# fleche pour revenir page 1 #}
        <li class=" {{ (page == 1) ? 'disable' : '' }} ">
                <a href="?page=1" id="a">
                        <ion-icon name="play-back-outline"></ion-icon>
                </a>
        </li>
{# fleche pour revenir en arriere #}
        <li class=" {{ (page == 1) ? 'disable' : '' }} ">
                <a href="{{ (page > 1) ? '?page=' ~ (page -1) : '' }}" id="a">
                        <ion-icon name="arrow-back-outline"></ion-icon>
                </a>
        </li>

        {% set pages = (total / limit)|round(0,'ceil') %}
{# calcul total / limit user par page que l'on arrondi au superieur avec ceil on enferme variable pages grâce set #}
        {% for item in 1..pages %}
                <li class=" {{ (page == item) ? 'active' : '' }} ">
                        <a href="?page={{ item }}" id="a"> {{ item }} </a>
                </li>
        {% endfor %}

{# fleche pour aller vers suivant #}
        <li class=" {{ (page == pages) ? 'disable' : '' }} ">
                <a href="{{ (page < pages) ? '?page=' ~ (page +1) : '' }}" id="a">
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                </a>
        </li>

{# fleche pour derniere page  #}
        <li class=" {{ (page == pages) ? 'disable' : '' }} ">
                <a href="?page= {{ pages }}" id="a">
                        <ion-icon name="play-forward-outline"></ion-icon>
                </a>
        </li>

</ul>

{% endblock %}

