{% extends 'base.html.twig' %}

{% block title %}Liste des avis de {% endblock %}
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/detail.css') }}" type="text/css" />
        {% endblock %}

{% block body %}
        <h1>{{titre}} ({{ total }}) </h1>

                {% set sommeAvis = 0 %}
                {% set moyenne = 0 %}
                {% for critique in critiques %}
                        {% set sommeAvis = sommeAvis +  critique.note  %}
                {% endfor %}
                {% set moyenne = (sommeAvis / critiques | length)|round(1)   %}

                <h4 class="{{ (moyenne > bonneNote) ? 'bonneNote' : (moyenne > moyenneNote) ? 'moyenneNote' : 'mauvaiseNote' }} titre ">
                        {{ moyenne }} / 5
                </h4>
                <div class="img2" >
                        <img src="{{image}}" alt="{{ imageAlt }}"  class="imgEntete">
                </div>

        <h2><a class="usebtn retour" href="{{ app.request.headers.get('referer')}}">retour</a></h2>
        <h2><a class="usebtn ajout" href="{{ path('critique_index') }}">aller aux avis</a></h2>
        <h2><a class="usebtn ajout" href="{{ path('produit_index') }}">aller aux produits</a></h2>
        <h2><a class="usebtn ajout" href="{{ path('user_index') }}">aller aux utilisateurs</a></h2>

        <h3>{{total}} Avis</h3><table>
        <thead>
                <tr>
                        <td>auteur</td>
                        <td>N° AFPA</td>
                        <td>status</td>
                        <td>note /5</td>
                        <td>date</td>
                        <td></td>
                </tr>
        </thead>
        {% for critique in critiques  %}
        <tbody>
                <tr>
                        <td> 
                                <a href="{{ path('critique_filtreUser', {id: critique.utilisateur.id}) }}" id="a" class="paddingLeft10" > 
                                        {{ critique.utilisateur.pseudo }}(+)
                                </a>
                        </td>
                        <td>
                                <a href="{{ path('critique_filtreUser', {id: critique.utilisateur.id}) }}" id="a" > 
                                        {{ critique.utilisateur.identifiantAfpa }}
                                </a>
                        </td>
                        <td> <span class="{{critique.utilisateur.roles[0]}}" ></span></td>
                        <td>
                                <span class=" {{ (critique.note > bonneNote) ? 'bonneNote' : (critique.note > moyenneNote) ? 'moyenneNote' : 'mauvaiseNote' }} ">
                                        {{ critique.note }}
                                </span>
                        </td>
                        <td>  {{ critique.createAt | date(" h:i d/m/Y") }}   </td>
                        <td> 
                                <a href="{{ path('critique_delete', {id: critique.id}) }}" class="btn b2"  onclick="return confirm('Suppression ? ')"><ion-icon name="trash-outline"></ion-icon></a>
                        </td>
                </tr>
                {% if critique.contenu is empty %}
                        <tr class="last2"></tr>
                {% else %}
                        <tr class="last">
                                <td> critique:</td>
                                <td colspan="5">
                                        {{ critique.contenu | raw | u.truncate(maxlength2) }}
                                        {% if critique.contenu | length > maxlength2 %}
                                        ...
                                        <a href="{{ path('critique_apercu', {id: critique.id}) }}" class="btn b3 more">
                                                        voir plus
                                        </a>
                                        {% endif %}
                                </td>
                        </tr>
                {% endif %}
        </tbody>
        {% endfor %}
</table>

{% endblock %}