{% extends 'base.html.twig' %}

{% block title %}Liste des images du carousel{% endblock %}
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/tableau.css') }}" type="text/css" />
        {% endblock %}

{% block body %}
        <h1>{{ titre }}</h1>

        <h2><a class="usebtn ajout" href="{{ path('imageCarousel_add') }}">Ajouter une image </a></h2>

        <h3>{{total}} Image</h3>
<table>
        <thead>
                <tr>
                        <td>image</td>
                        <td>description</td>
                </tr>
        </thead>
        <tbody>
        {% for image in images  %}
                <tr>
                        <td>
                                <div><img src="{{image.image}}" alt="{{ image.descriptionImage }}" class="img" ></div>
                        </td>
                        <td> {{ image.descriptionImage }}</td>
                        <td> 
                                <a href="{{ path('imageCarousel_update', {id: image.id}) }}" class="btn b1"><ion-icon name="create-outline"></ion-icon></a>
                                <a href="{{ path('imageCarousel_delete', {id: image.id}) }}" class="btn b2"  onclick="return confirm('Suppression ? ')"><ion-icon name="trash-outline"></ion-icon></a>
                        </td>
                </tr>
        {% endfor %}


        </tbody>
</table>

{% endblock %}

