<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} Dashboard-sb admin {% endblock %} </title>
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="navigation">
                <ul>
                    <li>
                        <a href="">
                            <span class="icon"><ion-icon name="fast-food-outline"></ion-icon></span>
                            <span class="title"> Cantine MIAM</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('home') }}">
                            <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                            <span class="title"> Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('category_index') }}">
                            <span class="icon"><ion-icon name="grid-outline"></ion-icon></span>
                            <span class="title"> Les catégories</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('produit_index') }}">
                            <span class="icon"><ion-icon name="pizza-outline"></ion-icon></span>
                            <span class="title"> Nos Produits</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('critique_index') }}">
                            <span class="icon"><ion-icon name="chatbox-ellipses-outline"></ion-icon></span>
                            <span class="title"> Les avis </span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('feature_index') }}">
                            <span class="icon"><ion-icon name="document-outline"></ion-icon></span>
                            <span class="title"> les articles de l'Accueil</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('imageCarousel_index') }}">
                            <span class="icon"><ion-icon name="image-outline"></ion-icon></span>
                            <span class="title"> les images du carousel</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('equipe_index') }}">
                            <span class="icon"><ion-icon name="document-outline"></ion-icon></span>
                            <span class="title"> l'équipe</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('user_index') }}">
                            <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                            <span class="title"> Utilisateurs</span>
                        </a> 
                    </li>
                    <li>
                        <a href="{{ path('app_logout') }}">
                            <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                            <span class="title"> se déconnecter</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- main -->
            <div class="main">
                <div class="topbar">
                    <div class="toggle"><ion-icon name="menu-outline"></ion-icon></div>
                    <div>Bienvenue ADMIN/ 
                        <span> <a href="{{ path('app_logout') }}">se déconnecter</a></span>
                    </div>
                    <div class="user"> <img src="" alt=""></div>
                </div>
                
                {% for message in app.flashes('success') %}
                    <div id="alert" class="messageFlash"> {{ message }} </div>
                {% endfor %}

                {% block body %}{% endblock %}

                <ul class="pagination">
                    {# total est n'est pas definie dans la page home #}
                    {% if total is defined %}
                    {# calcul total user / limit user par page que l'on arrondi au superieur avec ceil on enferme variable pages grâce set #}
                    {% set pages = (total / limit)|round(0,'ceil') %}
                        {# pour eviter probleme quand pages = 0 #}
                        {% if pages > 0 %}
                            {# fleche pour revenir page 1 #}
                            <li class=" {{ (page == 1) ? 'disable' : '' }} ">
                                    <a href="?page=1" id="a">
                                            <ion-icon name="play-back-outline"></ion-icon>
                                    </a>
                            </li>
                            {# fleche pour revenir en arriere #}
                            <li class=" {{ (page == 1) ? 'disable' : '' }} ">
                                    <a href="{{ (page > 1) ? '?page=' ~ (page -1) : '' }}" id="a">
                                            <ion-icon name="arrow-back-outline"></ion-icon>
                                    </a>
                            </li>

                            {% for item in 1..pages %}
                                    <li class=" {{ (page == item) ? 'active' : '' }} ">
                                            <a href="?page={{ item }}" id="a"> {{ item }} </a>
                                    </li>
                            {% endfor %}

                            {# fleche pour aller vers suivant #}
                            <li class=" {{ (page == pages) ? 'disable' : '' }} ">
                                    <a href="{{ (page < pages) ? '?page=' ~ (page +1) : '' }}" id="a">
                                            <ion-icon name="arrow-forward-outline"></ion-icon>
                                    </a>
                            </li>

                            {# fleche pour derniere page  #}
                            <li class=" {{ (page == pages) ? 'disable' : '' }} ">
                                    <a href="?page= {{ pages }}" id="a">
                                            <ion-icon name="play-forward-outline"></ion-icon>
                                    </a>
                            </li>
                        {% else %}
                            {# quand il n'y a aucun resultat #}
                            <li class="active" >
                                    <a href="" id="a">
                                            1
                                    </a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </body>

    <footer></footer>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script>
    window.onload = () => {

        //menu toggle dans le layout side bar
        let toggle = document.querySelector('.toggle');
        let navigation = document.querySelector('.navigation');
        let main = document.querySelector('.main')

        toggle.onclick = function(){
            navigation.classList.toggle('active')
            main.classList.toggle('active')
        }

        setTimeout(notification, 2000)

        function notification () {
        document.getElementById("alert").classList.add('hidden')

        }

        let activate = document.querySelectorAll("[type=checkbox]")
        for(let button of activate) {
            button.addEventListener("click", function(){
                let xmlhttp = new XMLHttpRequest
                xmlhttp.open("get", `/produit/activate/${this.dataset.id}`)
                xmlhttp.send() 
            })
        }
    }

    </script>
</html>
