{% extends 'base.html.twig' %}

{% block title %}Liste des membres de l'équipe{% endblock %}
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/tableau.css') }}" type="text/css" />
        {% endblock %}

{% block body %}
        <h1>{{ titre }}</h1>

        <h2><a class="usebtn ajout" href="{{ path('equipe_add') }}">Ajouter un Employé </a></h2>
        <h2><a class="usebtn" href="{{ path('equipe_recherche') }}">rechercher <ion-icon name="search"></ion-icon> </a></h2>

        <h3>{{total}} Employé</h3>
<table>
        <thead>
                <tr>
                        <td>nom</td>
                        <td>prénom</td>
                        <td>surnom</td>
                        <td>image</td>
                        <td>date de création</td>
                        <td>auteur</td>
                        <td></td>
                </tr>
        </thead>
        <tbody>
        {% for equipe in equipes  %}
                <tr>
                        <td>{{equipe.nom}}</td>
                        <td>{{equipe.prenom}}</td>
                        <td>{{equipe.surnom}}</td>
                        <td>
                                <div><img src="{{equipe.image}}" alt="{{ equipe.imageDescription }}" class="img" ></div>
                        </td>
                        <td> {{equipe.createAt | date("d/m/Y") }}</td>
                        <td> {{equipe.utilisateur.pseudo}}</td>
                        <td> 
                                <a href="{{ path('equipe_apercu', {id: equipe.id}) }}" class="btn b3"><ion-icon name="eye-outline"></ion-icon></a>
                                <a href="{{ path('equipe_update', {id: equipe.id}) }}" class="btn b1"><ion-icon name="create-outline"></ion-icon></a>
                                <a href="{{ path('equipe_delete', {id: equipe.id}) }}" class="btn b2"  onclick="return confirm('Suppression ? ')"><ion-icon name="trash-outline"></ion-icon></a>
                        </td>
                </tr>
        {% endfor %}

        </tbody>
</table>

{% endblock %}
