{% extends 'base.html.twig' %}

{% block title %}Liste des Utilisateurs{% endblock %}
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/tableau.css') }}" type="text/css" />
        {% endblock %}

{% block body %}
        <h1>{{ titre }}</h1>
                {# {{ dump(app.request) }} #}
        <h2><a class="usebtn ajout" href="{{ path('user_add') }}">Ajouter un Utilisateur </a></h2>
        <h2><a class="usebtn" href="{{ path('user_personnel') }}">Personnel </a></h2>
        <h2><a class="usebtn" href="{{ path('user_nonVerifie') }}"> Non Vérifié</a></h2>
        <h2><a class="usebtn" href="{{ path('user_recherche') }}">rechercher <ion-icon name="search"></ion-icon> </a></h2>
        {% if  app.Request.pathInfo != "/user/" %}
                <h2><a class="usebtn retour" href="{{ path('user_index') }}">retour à la Liste</a></h2>
        {% endif %}
        <h3>{{total}} Utilisateurs</h3>
<table>
        <thead>
                <tr>
                        <td>Pseudo</td>
                        <td>identifiantAfpa</td>
                        <td>role</td>
                        <td>email</td>
                        <td>n°tel</td>
                        <td>pointFidélité</td>
                        <td>vérifié</td>
                        <td></td>
                </tr>
        </thead>
        <tbody>
        {% for user in users  %}
                <tr>
                        <td>{{user.pseudo}}</td>
                        <td>{{user.identifiantAfpa}}</td>
                        <td> <span class="{{user.roles[0]}}" ></span></td>
                        <td> <a href="mailto:{{user.email}}">{{user.email}}</a></td>
                        <td> {{user.telephone}}</td>
                        <td> {{user.pointFidelite}}</td>
                        <td><span class=" {{ (user.isVerified == 1) ? 'valide' : 'invalide' }}" > {{user.isVerified}}</span></td>
                        <td> 
                                <a href="{{ path('user_update', {id: user.id}) }}" class="btn b1"><ion-icon name="create-outline"></ion-icon></a>
                                <a href="{{ path('user_delete', {id: user.id}) }}" class="btn b2"  onclick="return confirm('Suppression ? ')"><ion-icon name="trash-outline"></ion-icon></a>
                        </td>
                </tr>
        {% endfor %}


        </tbody>
</table>

<ul class="pagination">
{% set pages = (total / limit)|round(0,'ceil') %}
{# pour eviter probleme que page = 0 #}
        {% if pages > 0 %}
        {# fleche pour revenir page 1 #}
                <li class=" {{ (page == 1) ? 'disable' : '' }} ">
                        <a href="?page=1" id="a">
                                <ion-icon name="play-back-outline"></ion-icon>
                        </a>
                </li>
        {# fleche pour revenir en arriere #}
                <li class=" {{ (page == 1) ? 'disable' : '' }} ">
                        <a href="{{ (page > 1) ? '?page=' ~ (page -1) : '' }}" id="a">
                                <ion-icon name="arrow-back-outline"></ion-icon>
                        </a>
                </li>

        {# calcul total user / limit user par page que l'on arrondi au superieur avec ceil on enferme variable pages grâce set #}
                {% for item in 1..pages %}
                        <li class=" {{ (page == item) ? 'active' : '' }} ">
                                <a href="?page={{ item }}" id="a"> {{ item }} </a>
                        </li>
                {% endfor %}

        {# fleche pour aller vers suivant #}
                <li class=" {{ (page == pages) ? 'disable' : '' }} ">
                        <a href="{{ (page < pages) ? '?page=' ~ (page +1) : '' }}" id="a">
                                <ion-icon name="arrow-forward-outline"></ion-icon>
                        </a>
                </li>

        {# fleche pour derniere page  #}
                <li class=" {{ (page == pages) ? 'disable' : '' }} ">
                        <a href="?page= {{ pages }}" id="a">
                                <ion-icon name="play-forward-outline"></ion-icon>
                        </a>
                </li>
        {% else %}
        {# quand il n'y a aucun resultat #}
                <li class="active" >
                        <a href="" id="a">
                                1
                        </a>
                </li>

        {% endif %}
</ul>

{% endblock %}
