{% extends 'base.html.twig' %}

{% block title %}Liste des Utilisateurs{% endblock %}
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/tableau.css') }}" type="text/css" />
        {% endblock %}

{% block body %}
        <h1>{{ titre }}</h1>
                {# {{ dump(app.request) }} #}
        <h2><a class="usebtn ajout" href="{{ path('user_add') }}">Ajouter un Utilisateur </a></h2>
        <h2><a class="usebtn" href="{{ path('user_personnel') }}">Personnel </a></h2>
        <h2><a class="usebtn" href="{{ path('user_nonVerifie') }}"> Non Vérifié</a></h2>
        <h2><a class="usebtn" href="{{ path('user_recherche') }}">rechercher <ion-icon name="search"></ion-icon> </a></h2>
        {% if  app.Request.pathInfo != "/user/" %}
                <h2><a class="usebtn retour" href="{{ path('user_index') }}">retour à la Liste</a></h2>
        {% endif %}
        <h3>{{total}} Utilisateurs</h3>
<table>
        <thead>
                <tr>
                        <td>Pseudo</td>
                        <td>identifiantAfpa</td>
                        <td>role</td>
                        <td>email</td>
                        <td>n°tel</td>
                        <td>pointFidélité</td>
                        <td>vérifié</td>
                        <td></td>
                </tr>
        </thead>
        <tbody>
        {% for user in users  %}
                <tr>
                        <td>{{user.pseudo}}</td>
                        <td>{{user.identifiantAfpa}}</td>
                        <td> <span class="{{user.roles[0]}}" ></span></td>
                        <td> <a href="mailto:{{user.email}}" id="a">{{user.email}}</a></td>
                        <td> {{user.telephone}}</td>
                        <td> {{user.pointFidelite}}</td>
                        <td><span class=" {{ (user.isVerified == 1) ? 'valide' : 'invalide' }}" > {{user.isVerified}}</span></td>
                        <td> 
                                {% if user.critiques | length > 0 %}
                                        <a href="{{ path('critique_filtreUser', {id: user.id}) }}" class="btn b3">
                                                <ion-icon name="chatbox-ellipses-outline"></ion-icon>  {{user.critiques | length}}
                                        </a>
                                {% else %}
                                        <span class="btn b3 noCursor">
                                                <ion-icon name="chatbox-ellipses-outline" ></ion-icon>  {{user.critiques | length}}
                                        </span>
                                {% endif %}
                                <a href="{{ path('user_update', {id: user.id}) }}" class="btn b1"><ion-icon name="create-outline"></ion-icon></a>
                                <a href="{{ path('user_delete', {id: user.id}) }}" class="btn b2"  onclick="return confirm('Suppression ? ')"><ion-icon name="trash-outline"></ion-icon></a>
                        </td>
                </tr>
        {% endfor %}


        </tbody>
</table>

{% endblock %}
