{% extends 'base.html.twig' %}

{% block title %}Liste des Utilisateurs{% endblock %}
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/tableau.css') }}" type="text/css" />
        {% endblock %}

{% block body %}
        <h1>{{ titre }}</h1>

        <h2><a class="usebtn ajout" href="{{ path('user_add') }}">Ajouter un Utilisateur </a></h2>
        <h2><a class="usebtn" href="{{ path('user_personnel') }}">Personnel </a></h2>
        <h2><a class="usebtn" href="{{ path('user_nonVerifie') }}">Utilisateur Non Vérifié</a></h2>
        <h2><a class="usebtn retour" href="{{ path('user_index') }}">Retour à la liste </a></h2>

                {{ form_start(rechercheForm) }}
                        {{ form_row(rechercheForm.mots, {
                                'attr': {'class': 'recherche', 'placeholder': 'Pseudo ou Idendifiant AFPA'}
                                }) }}
                {{ form_end(rechercheForm) }}
        
                <h3>Nombre de résultat de la recherche: {{ users | length }}</h3>


<table>
        <thead>
                <tr>
                        <td>Pseudo</td>
                        <td>identifiantAfpa</td>
                        <td>role</td>
                        <td>email</td>
                        <td>n°tel</td>
                        <td>pointFidélité</td>
                        <td>vérifié</td>
                        <td></td>
                </tr>
        </thead>
        <tbody>
        {% for user in users  %}
                <tr>
                        <td>{{user.pseudo}}</td>
                        <td>{{user.identifiantAfpa}}</td>
                        <td> <span class="{{user.roles[0]}}" ></span></td>
                        <td>{{user.email}}</td>
                        <td> {{user.telephone}}</td>
                        <td> {{user.pointFidelite}}</td>
                        <td><span class=" {{ (user.isVerified == 1) ? 'valide' : 'invalide' }}" > {{user.isVerified}}</span></td>
                        <td> 
                                <a href="{{ path('user_update', {id: user.id}) }}" class="btn b1"><ion-icon name="create-outline"></ion-icon></a>
                                <a href="{{ path('user_delete', {id: user.id}) }}" class="btn b2"  onclick="return confirm('Suppression ? ')"><ion-icon name="trash-outline"></ion-icon></a>
                        </td>
                </tr>
        {% endfor %}


        </tbody>
</table>

{% endblock %}
