{% extends 'base.html.twig' %}

{% block title %}Enregistrer{% endblock %}
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/register.css') }}" type="text/css" />
{% endblock %}

{% block body %}
<div class="container">
    <div class="principale">
    <h1>Enregistrer un membre du personnel</h1>

    {{ form_start(form) }}

        {{ form_row(form.email, {
            label: 'l\' email:',
            'attr': {'class': 'champs'}
            }) }}
        {{ form_row(form.pseudo, {
            label: 'Le pseudo:',
            'attr': {'class': 'champs'}
            }) }}
        {{ form_row(form.identifiantAfpa, {
            label: 'Le numero AFPA:',
            'attr': {'class': 'champs'}
            }) }}
        {{ form_row(form.telephone, {
            label: 'Le numéro de telephone:',
            'attr': {'class': 'champs'}
            }) }}
        {{ form_row(form.Roles, {
            label: 'Le role:',
            'attr': {'class': 'champs'}
            }) }}
        {{ form_row(form.pointFidelite, {
            label: 'Nombre de points de fidélité:',
            'attr': {'class': 'champs'}
            }) }}

        {{ form_row(form.isVerified, {
            label: 'valider le compte',
            'attr': {'class': 'valitation'}
            }) }}

    {{ form_end(form) }}
        <button type="submit"  class="btn b2"><a href="{{ app.request.headers.get('referer') }}">retour liste des utilisateur</a> </button>
    </div>
    </div>
{% endblock %}
